<nav id="titulo" class="cyan">
        <div class="container">
          <div class="nav-wrapper"><a class="page-title">AYUDA</a></div>
        </div>
</nav>
<br><br><br>

<?php if ($_SESSION['cuenta']['rol'] == 'D'): ?>

<div class="container paddingTop">
  <div class="row">
    <ul class="collapsible popout" data-collapsible="accordion">
            <li>
        <div class="collapsible-header"><i class="material-icons">today</i>Ciclos</div>
        <div class="collapsible-body">
          <p><b>1.- ¿Cómo puedo agregar un Ciclo?</b></p>
          <p>Para agregar un nuevo Ciclo, seleccione el botón de 3 rayas de la parte superior izquierda. A continuación, seleccione la opción de "Ciclo".
          Finalmente, seleccione el botón de "+", que se encuentra en la parte inferior derecha y llene la información. </p>
          
          <p><b>2.- ¿Cómo puedo editar un Ciclo?</b></p>
          <p>Para editar un Ciclo, seleccione el botón de 3 rayas de la parte superior izquierda. A continuación, seleccione la opción de "Ciclo".
          Finalmente, seleccione el botón de con el logo de un lápiz (a la derecha del bote de basura), que se encuentra en la parte inferior, y edite la información. </p>
          
          <p><b>3.- ¿Qué información se borra cuando se cambia de ciclo?</b></p>
          <p>Al cambiar de ciclo se borra la información de los programas y actividades del ciclo. Se mantiene la información de las organizaciones y usuarios (voluntarios, alumnos, servicio social) </p>
        </div>
      </li>
            <li>
        <div class="collapsible-header"><i class="material-icons">extension</i>Actividades</div>
        <div class="collapsible-body">
          <p><b>1.- ¿Cómo puedo agregar una Actividad?</b></p>
          <p>Para agregar un nueva Actividad, seleccione el botón de 3 rayas de la parte superior izquierda. A continuación, seleccione la opción de "Actividades".
          Finalmente, seleccione el botón de "+", que se encuentra en la parte inferior derecha y llene la información. </p>
          
          <p><b>2.- ¿Cómo puedo eliminar una Actividad?</b></p>
          <p>Para eliminar una Actividad, seleccione el botón de 3 rayas de la parte superior izquierda. A continuación, seleccione la opción de "Actividades".
          Finalmente, seleccione el botón de con el logo de un bote de basura, que se encuentra a la derecha de la Actividad que desea eliminar, y siga los pasos. </p>
          
          <p><b>3.- ¿Cómo puedo editar una Actividad?</b></p>
          <p>Para editar una Actividad, seleccione el botón de 3 rayas de la parte superior izquierda. A continuación, seleccione la opción de "Actividades".
          Finalmente, seleccione el botón de con el logo de un lápiz (a la derecha del bote de basura), que se encuentra a la derecha de la Actividad que desea editar, y edite la información </p>
        </div>
      </li>
            <li>
        <div class="collapsible-header"><i class="material-icons">account_balance</i>Organizaciones</div>
        <div class="collapsible-body">
          <p><b>1.- ¿Cómo puedo agregar una Organización?</b></p>
          <p>Para agregar un nueva Organización, seleccione el botón de 3 rayas de la parte superior izquierda. A continuación, seleccione la opción de "Organizaciones".
          Finalmente, seleccione el botón de "+", que se encuentra en la parte inferior derecha y llene la información. </p>
          
          <p><b>2.- ¿Cómo puedo eliminar una Organización?</b></p>
          <p>Para eliminar una Organización, seleccione el botón de 3 rayas de la parte superior izquierda. A continuación, seleccione la opción de "Organizaciones".
          Finalmente, seleccione el botón de con el logo de un bote de basura, que se encuentra a la derecha de la Organizacion que desea eliminar, y siga los pasos. </p>
        
          <p><b>3.- ¿Cómo puedo editar una Organización?</b></p>
          <p>Para editar una Organización, seleccione el botón de 3 rayas de la parte superior izquierda. A continuación, seleccione la opción de "Organizaciones".
          Finalmente, seleccione el botón de con el logo de un lápiz (a la derecha del bote de basura), que se encuentra a la derecha de la Organización que desea editar, y edite la información. </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">dns</i>Programas</div>
        <div class="collapsible-body">
          <p><b>1.- ¿Cómo puedo agregar un Programa?</b></p>
          <p>Para agregar un nuevo Programa, seleccione el botón de 3 rayas de la parte superior izquierda. A continuación, seleccione la opción de "Programas".
          Finalmente, seleccione el botón de "+", que se encuentra en la parte inferior derecha y llene la información. </p>
          
           <p><b>2.- ¿Cómo puedo eliminar un Programa?</b></p>
          <p>Para eliminar un Programa, seleccione el botón de 3 rayas de la parte superior izquierda. A continuación, seleccione la opción de "Programas".
          Finalmente, seleccione el botón de con el logo de un bote de basura, que se encuentra a la derecha del Programa que desea eliminar, y siga los pasos. </p>
        
          <p><b>3.- ¿Cómo puedo editar un Programa?</b></p>
          <p>Para editar un Programa, seleccione el botón de 3 rayas de la parte superior izquierda. A continuación, seleccione la opción de "Programas".
          Finalmente, seleccione el botón de con el logo de un lápiz (a la derecha del bote de basura), que se encuentra a la derecha del Programa que desea editar, y edite la información. </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">face</i>Alumnos</div>
        <div class="collapsible-body">
          <p><b>1.- ¿Cómo puedo ver la información del Alumno?</b></p>
          <p>Seleccione el botón de 3 rayas de la parte superior izquierda. A continuación, seleccione la opción de "Alumnos" y desplegará la lista de alumnos del registro. Finalmente, seleccione el 
          alumno que desea consultar y podrá ver su información completa.</p>
          
          <p><b>2.- ¿Cómo puedo agregar el registro de un Alumno?</b></p>
          <p>Para agregar un nuevo Alumno, seleccione el botón de 3 rayas de la parte superior izquierda. A continuación, seleccione la opción de "Alumnos".
          Finalmente, seleccione el botón de "+", que se encuentra en la parte inferior derecha y llene la información. </p>
          
          <p><b>3.- ¿Cómo puedo eliminar el registro de un Alumno?</b></p>
          <p>Para eliminar el registro de un Alumno, seleccione el botón de 3 rayas de la parte superior izquierda. A continuación, seleccione la opción de "Alumnos".
          Finalmente, seleccione el botón de con el logo de un bote de basura, que se encuentra a la derecha del Alumno del que desea eliminar el registro, y siga los pasos. </p>
        
        <p><b>4.- ¿Cómo puedo editar el registro de un Alumno?</b></p>
          <p>Para editar el registro de un Alumno, seleccione el botón de 3 rayas de la parte superior izquierda. A continuación, seleccione la opción de "Alumnos".
          Finalmente, seleccione el botón de con el logo de un lápiz (a la derecha del bote de basura), que se encuentra a la derecha del registro de Alumno que desea editar, y edite la información. </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">perm_identity</i>Voluntarios</div>
        <div class="collapsible-body">
          <p><b>1.- ¿Cómo puedo ver la información de los voluntarios?</b></p>
          <p>Seleccione el botón de 3 rayas de la parte superior izquierda. A continuación, seleccione la opción de "Voluntarios" y desplegará la lista de voluntarios del registro. Finalmente, seleccione el 
          voluntario que desea consultar y podrá ver su información completa.</p>
          
          <p><b>1.- ¿Cómo puedo agregar el registro de un Voluntario?</b></p>
          <p>Para agregar un nuevo Voluntario, seleccione el botón de 3 rayas de la parte superior izquierda. A continuación, seleccione la opción de "Voluntarios".
          Finalmente, seleccione el botón de "+", que se encuentra en la parte inferior derecha y llene la información. </p>
          
          <p><b>2.- ¿Cómo puedo eliminar el registro de un Voluntario?</b></p>
          <p>Para eliminar el registro de un Voluntario, seleccione el botón de 3 rayas de la parte superior izquierda. A continuación, seleccione la opción de "Voluntarios".
          Finalmente, seleccione el botón de con el logo de un bote de basura, que se encuentra a la derecha del Voluntario del que desea eliminar el registro, y siga los pasos. </p>
        
        <p><b>3.- ¿Cómo puedo editar el registro de un Voluntario?</b></p>
          <p>Para editar el registro de un Voluntario, seleccione el botón de 3 rayas de la parte superior izquierda. A continuación, seleccione la opción de "Voluntarios".
          Finalmente, seleccione el botón de con el logo de un lápiz (a la derecha del bote de basura), que se encuentra a la derecha del registro del Alumno que desea editar, y edite la información. </p>
        </div>
        
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">assignment_ind</i>Servicio Social</div>
        <div class="collapsible-body">
          <p><b>1.- ¿Cómo puedo ver la información de los estudiantes en Servicio Social?</b></p>
          <p>Seleccione el botón de 3 rayas de la parte superior izquierda. A continuación, seleccione la opción de "Servicio Social" y desplegará la lista de estudiantes en servicio social del registro. Finalmente, seleccione el 
          estudiante que desea consultar y podrá ver su información completa.</p>
          
          
          <p><b>2.- ¿Cómo puedo agregar el registro de los estudiantes en Servicio Social?</b></p>
          <p>Para agregar un nuevo estudiante en Servicio Social, seleccione el botón de 3 rayas de la parte superior izquierda. A continuación, seleccione la opción de "Servicio Social".
          Finalmente, seleccione el botón de "+", que se encuentra en la parte inferior derecha y llene la información. </p>
          
          <p><b>3.- ¿Cómo puedo eliminar el registro de un estudiante en Servicio Social?</b></p>
          <p>Para eliminar el registro de un estudiante en Servicio Social, seleccione el botón de 3 rayas de la parte superior izquierda. A continuación, seleccione la opción de "Servicio Social".
          Finalmente, seleccione el botón de con el logo de un bote de basura, que se encuentra a la derecha del estudiante en Servicio Social del que desea eliminar el registro, y siga los pasos. </p>
        
          <p><b>4.- ¿Cómo puedo editar un el registro de un estudiante en Servicio Social?</b></p>
          <p>Para editar el registro de un estudiante en Servicio Social, seleccione el botón de 3 rayas de la parte superior izquierda. A continuación, seleccione la opción de "Servicio Social".
          Finalmente, seleccione el botón de con el logo de un lápiz (a la derecha del bote de basura), que se encuentra a la derecha del registro del estudiante en Servicio Social que desea editar, y edite la información. </p>
        </div>
         </li>
              <li>
        <div class="collapsible-header"><i class="material-icons">subtitles</i>Reportes</div>
        <div class="collapsible-body">
          <p><b>1.- ¿Cómo puedo ver los reportes de cada usuario o programa?</b></p>
          <p>Seleccione el botón de 3 rayas de la parte superior izquierda. A continuación, seleccione la opción de "Reportes" y después seleccione una opción para desplegar los reportes.</p>
          <p><b>2.- ¿Cómo puedo descargar los reportes?</b></p>
          <p>Seleccione el botón verde en la esquina inferior derecha para descargar el reporte en formato de Excel.</p>
          
        </div>
      </li>
        </div>
     

    </ul>
  </div>
</div>

<?php elseif (($_SESSION['cuenta']['rol'] == 'A') || ($_SESSION['cuenta']['rol'] == 'B' || ($_SESSION['cuenta']['rol'] == 'C'))): ?>
<?php     echo listaProgramasUsuarios();    ?>

<?php endif; ?>