<nav id="titulo" class="cyan">
    <div class="container">
        <div class="nav-wrapper"><a class="page-title truncate">CAMBIAR CONTRASEÑA</a></div>
    </div>
</nav>

<a class="btn-large cyan top btn-flat" href="../controllers/home.php">
    <i class="material-icons cwhite" >arrow_back</i>
</a>

<br>

<div class="center-align ">
    <div class="container paddingTop z-depth-3 white">
        <form  action="changePassword.php" method="POST" enctype="multipart/form-data">
            
            <div class="row">
                <div class="col s0 m2 l2"></div>
                <div class="col s12 m8 l8">
                    <label for="password"  class="left-align">Nueva Contraseña</label>
                    <input id="password" type="password" class="validate" name="newPass" pattern="(?=.*[A-Z])(?=.*[a-z])(?=.*\d).{8,15}" data-length="15" required>
                </div>
                <div class="col s0 m2 l2"></div>
             </div>
              
            <div class="row">
                <div class="col s0 m2 l2"></div>
                <div class="col s12 m8 l8">
                    <label for="passwordConfirm" data-error="Las contraseñas no coinciden"
                    data-success=""  class="left-align">Confirmar Nueva Contraseña</label>
                    <input id="passwordConfirm" type="password" name="newPassConf" required>
                </div>
                <div class="col s0 m2 l2"></div>
            </div>
            
            <div class="row">
                <button type="submit" id="formaUsuario" class="btn waves-effect waves-light" name="action" disabled>
                    Registrar
                </button>
            </div>
        
            <br>
        </form>
    
    </div>
    <br>
</div>