<nav id="titulo" class="cyan">
    <div class="container">
        <div class="nav-wrapper"><a class="page-title">PERIOD</a></div>
    </div>
</nav>

<!-- <?php if ($_SESSION['cuenta']['rol'] == 'D'): ?>
<a href="../controllers/registrarCiclo.php" class="btn-floating btn-large lime bottomRight"><i class="material-icons">add</i></a>
<?php endif ?> -->

<br>
<br>
<div class="container paddingTop">
    <div class="row">
        <div class="col s0 m2 l3"></div>
        <div class="col s12 m8 l6">
            <div class="card white">
                <div class="card-image">
                    <img src="../images/logo.png">
                </div>
                <div class="card-content center-align">
                    <?php echo(infoCiclo()) ?>
                </div>
                <?php if ($_SESSION['cuenta']['rol'] == 'D'): ?>
                <!-- <div class="card-action center-align">
                    <a style="color: #2598AA" href="editarCiclo.php"><i class="material-icons small">mode_edit</i></a>
                </div> -->
                <?php endif ?>
            </div>
        </div>
        <div class="col s0 m2 l3"></div>
    </div>
</div>
