<nav id="titulo" class="cyan">
        <div class="container">
          <div class="nav-wrapper"><a class="page-title">STUDENT ACCOUNTS</a></div>
        </div>
</nav>

<a href="../controllers/registrarAlumno.php" class="btn-floating btn-large lime bottomRight"><i class="material-icons">add</i></a>

<div class="container paddingTop">
    <div class="row">
        <div class="col s0 m0 l0"></div>
        <div class="col s12 m12 l12">

            <div id="listaDatosAlumnos"></div>

        </div>
        <div class="col s0 m0 l0"></div>
    </div>
</div>
