<nav id="titulo" class="cyan">
        <div class="container">
          <div class="nav-wrapper"><a class="page-title">MI INFORMACIÓN</a></div>
        </div>
</nav>

<div class="container paddingTop">
    <div class="row">
        <div class="col s0 m2 l3"></div>
        <div class="col s12 m8 l6">
            <div class="card white">
                <div class="card-image">
                    <img src="../images/user.png">
                </div>
                <div class="card-content center-align">
                    <?php echo(listaInformacion()) ?>
                </div>
            </div>
        </div>
        <div class="col s0 m2 l3"></div>
    </div>
</div>
<!-- <?php echo(listaInformacion()) ?>-->

<!--<input type="button" value="Tabla" onclick="listaProgramas()">-->

<!--<div id="listaInformacion"></div>-->