<!DOCTYPE html>
  <html>
    <head lang="es">
      <link rel="shortcut icon" href="../images/g.png">
      <meta name="google-signin-client_id" content="190960318374-oh3i4rj54o1jnrr0abnisc049q76bflm.apps.googleusercontent.com">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"  media="screen,projection"/>

      <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="../css/style.css"/>
      
      
      <!--Pop up dinámicos-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.1.1/jquery-confirm.min.css">
      
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Gigi's México</title>
    </head>
    <body>
         <!--<div class="container">-->