<nav id="titulo" class="cyan">
    <div class="container">
        <div class="nav-wrapper"><a class="page-title">GIGI'S PLAYHOUSE</a></div>
    </div>
</nav>

<div class="container paddingTop">
    <br><br>
    <div class="row">
        <div class="col s0 m1 l2"></div>
        <div class="col s12 m10 l8">
            <h2 class="home-font center">¡Bienvenido!</h2>
            <br>
            <img class="logo-home center" src="../images/logo.png"></img>
            <br><br>
            <h5 class="home-font center">Para ingresar al men&uacute; da click en el bot&oacute;n &nbsp;&nbsp; <i class="material-icons" style="margin-bottom:0px;">menu</i> &nbsp;&nbsp; que se encuentra en la parte superior izquierda.</h5>
            
        </div>
        <div class="col s0 m1 l2"></div>
    </div>
</div>