<div class="box shadow">
<a> <img class="logo" src="../images/logo.png"></img></a>
<br>

<form action="../controllers/checkLogin.php" method="POST">
    
    <div class="row">
        <div class="col s0 m2 l3"></div>
        <div class="input-field col s12 m8 l6">
            <label for="usuario" data-error="wrong" data-success="right">Correo</label>
            <input id="usuario" name="usuario" type="email" required>
        </div>
        <div class="col s0 m2 l3"></div>
    </div>
    
    <div class="row">   
        <div class="col s0 m2 l3"></div>
        <div class="input-field col s12 m8 l6">
            <label for="password">Contraseña</label>
            <input id="password" name="password" type="password" class="validate" required>
            <?php echo !empty($_GET['error']) ? '<p class="error"> Ingresa datos correctos para acceder al sistema.</p>' : '' ?>
        </div>
        <div class="col s0 m2 l3"></div>
    </div>
    <button class="btn waves-effect waves-light center" type="submit" name="action">Ingresar</button>
</form>

<br>


<a href="../controllers/registro.php">Registrarse</a>

<div id="bg">
    <img src="../images/bg.jpg" alt="">
</div>
</div>
