   <ul id="slide-out" class="side-nav collapsible collapsible-accordion">
      <li class="logo"><img class="logo" src="../images/logo.png"></img></li>
      <li><a class="subheader"><strong>Administrador</strong></a></li>
      <li><div class="divider"></div></li>
      <li><a class="subheader"><strong>Ciclo</strong></a></li>
      <li><a href="../controllers/consultarCiclo.php">Ciclo<i class="small material-icons">today</i></a></li>
      <li><a href="../controllers/consultarProgramas.php">Programas<i class="small material-icons">dns</i></a></li>
      <li><a href="../controllers/consultarOrganizaciones.php">Organizaciones<i class="small material-icons">account_balance</i></a></li>
      <li><a href="../controllers/consultarActividades.php">Actividades<i class="small material-icons">extension</i></a></li>


      <br>
      <li><div class="divider"></div></li>
      <li><a class="subheader"><strong>Usuarios</strong></a></li>
      <li><a href="../controllers/consultarAdmin.php">Administradores<i class="small material-icons">supervisor_account</i></a></li>
      <li><a href="../controllers/consultarAlumnos.php">Alumnos<i class="small material-icons">face</i></a></li>
      <li><a href="../controllers/consultarVoluntarios.php">Voluntarios<i class="small material-icons">perm_identity</i></a></li>
      <li><a href="../controllers/consultarServicioSocial.php">Servicio Social<i class="small material-icons">assignment_ind</i></a></li>
      <br>
      <li><div class="divider"></div></li>
      <li><a class="subheader"><strong>Actividades</strong></a></li>
      <li><a href="../controllers/registrosUsuarios.php">Registros Por Usuario<i class = "small material-icons">thumbs_up_down</i></a></li>
      <li><a href="../controllers/registrosActividades.php">Registros Por Actividad<i class = "small material-icons">thumb_up</i></a></li>

      <br>
      <li><div class="divider"></div></li>
      <li><a class="subheader"><strong>Adicionales</strong></a></li>
      <li><a href="../controllers/consultarReportes.php">Reportes<i class = "small material-icons">subtitles</i></a></li>
      <li><a href="../controllers/ayuda.php">Ayuda<i class="small material-icons">live_help</i></a></li>
      
      <li></li>
      
    </ul>
  <a href="#" data-activates="slide-out" class="button-collapse btn-large cyan top btn-flat"><i class="material-icons" style="color:white">menu</i></a>
  <!--<a href="#" data-activates="slide-out" class="button-collapse btn-floating btn-large  lime accent-4 top"><i class="material-icons">menu</i></a>-->
  
  <!--<a href="#" data-activates="slide-out" class="waves-effect waves-light btn button-collapse  lime accent-4 top"><i class="material-icons">menu</i></a>-->

    <!--<?php if(isset($_SESSION["cuenta"]["rol"]) && strcmp($_SESSION["cuenta"]["rol"],'A')): ?>-->
    <!--<?php endif; ?>-->