<h6>Santiago Valencia A01206738<br>Mauricio Hernandez A01700303<br>Valter Nuñez A01206138<br>Jose Francisco Monroy A01360926<br>Rodolfo Martínez A01700309</h6>
<ol>
    <li>Explica y elabora un diagrama sobre cómo funciona AJAX con jQuery.</li>
    <img src="../images/Diagrama.png"/>
    <li>¿Qué alternativas a jQuery existen?</li>
        <ul>
            <li>Proyotype</li>
            <p>Utilizada para Ruby on Rails. Tiene un framework para AJAX y soporta XMLHttpRequest.</p>
            <li>Ext</li>
            <p>Muy similar a JQuery y prototype con librerias totalmente distintas.</p>
            <li>Dojo Toolkit</li>
            <p>Open source.</p>
            <li>MooTools</li>
            <p>Popular para la plataforma de Wordpress.</p>
            <li>Script.aculo.us</li>
            <p>Utilizado para Ruby on Rails, implementa Proyotype aunque es una libreria diferente.</p>
        </ul>
</ol>

<a href="../controllers/index.php">REGRESAR A GIGIS</a>